.delivery-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	.line-box {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 30px;
		h3 {
			color: var(--black, #333);
			font-family: Circe;
			font-size: 20px;
			font-weight: 700;
			line-height: 140%; /* 28px */
			text-transform: uppercase;
			text-wrap: nowrap;
		}
		.line {
			background: var(--accent, #b59571);
			width: 60px;
			height: 3px;
		}
	}
	.title {
		color: var(--black, #333);
		margin-left: 20px;
		/* h2 */
		font-family: Circe;
		font-size: 64px;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 76.8px */
		margin-top: 92px;
		width: 306px;
	}
	.text-box {
		margin-top: 92px;
		margin-left: 24px;
		max-width: 526px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		p {
			color: var(--black, #333);

			/* p / 18r */
			font-family: Circe;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 25.2px */
		}
		.btns {
			display: flex;
			gap: 30px;
			.btn {
				display: flex;
				padding: 15px 30px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border: none;
			}
			.grey {
				background: var(--accent, #b59571);
				color: var(--white, #fff);

				/* p / 20b */
				font-family: Circe;
				font-size: 20px;
				font-weight: 700;
				line-height: 140%; /* 28px */
				border: 1px solid transparent;
				&:hover {
					transition: 0.5s all;
					background: transparent;
					color: #b59571;
					border: 1px solid #b59571;
				}
			}
			.white {
				color: var(--black, #333);

				/* p / 20b */
				font-family: Circe;
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: 140%; /* 28px */
				border: 0.5px solid rgba(51, 51, 51, 0.2);

				&:hover {
					transition: 0.5s all;
					background: transparent;
					color: #b59571;
					border: 1px solid #b59571;
				}
			}
		}
	}
}
